<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="Home" (click)="goToHome()"
    >StatementProject</a
  >
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" routerLink="Home" (click)="goToHome()"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          (click)="goToPostStatement()"
          routerLink="PostStatement"
          >Déposer un Releve</a
        >
      </li>

      <li class="nav-item">
        <a class="nav-link" (click)="goToStatement()" routerLink="GetStatement"
          >Votre Releve</a
        >
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a (click)="goToStarterPage()" class="nav-link"
          ><strong>Logout</strong>
        </a>
      </li>
    </ul>
  </div>
</nav>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
