<main role="main" class="container">
  <div class="starter-template">
    <h1>Welcome to Taysir Statement</h1>
    <p class="lead">
      Use this application to store your several Bank statements in one place<br />
      Each month post your statement excel file and we will handle it for you...
    </p>
    <button class="btn btn-primary" (click)="goToLogin()">
      Sign in
    </button>
    <br /><br />
    <button class="btn btn-outline-success" (click)="goToSignUp()">
      Sign up
    </button>
  </div>
</main>
<!-- /.container -->
